[Unit]
Description=A dynamic dns service on your web space
Wants=network-online.target
After=network-online.target


[Service]
Type=oneshot
ExecStart=
ExecStart=/usr/local/bin/pobDNSupdate.py > /var/log/pobDNSupdate 2>&1
ExecStop=killall pobDNSupdate.py

[Install]
WantedBy=multi-user.target
